* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*  rgb(235, 236, 237) */
a {
  text-decoration: none;
  color: rgb(0, 178, 165);
}

ul,
li {
  list-style: none;
}

.fa-bars {
  position: absolute;
  right: 20px;
}

.title__img__mobile__edu {
}

.title__img__mobile,
.title__img__mobile__edu {
  display: none;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 12px 36px;
  margin: 0;
  z-index: 99;
}

.title__logo {
  width: 280px;
  height: 100px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-weight: 600;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: rgb(0, 178, 165);
  border-radius: 8px;
  border: 3px solid white;
  transform: scale(1.25);
}

.navbar__menu li:hover a {
  color: white;
}

.navbar__toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  top: 32px;
  font-size: 32px;
  color: rgb(0, 178, 165);
}

.home {
  text-align: center;
}

.img__text {
  position: relative;
  display: block;
  margin: 0 30px;
}

.img__text__menu {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: rgb(168, 149, 132);
  align-items: center;
  opacity: 0.5;
}

.img__text__menu__text {
  position: absolute;
  display: flex;
  margin: 10px 0;
  width: 100%;
  padding-left: 200px;
  font-size: larger;
  opacity: 1;
  justify-content: left;
  align-items: center;
  color: black;
}

.title__img {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-height: 50%;
  padding: 0 30px;
}

.background__main {
  background-image: url(/images/바탕3.png);
  background-size: cover;
  width: 100%;
  margin: 5px 0;
}

.main__items {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0;
  margin: 0px 0px;
  box-sizing: border-box;
}

.item__img {
  width: 250px;
  height: 230px;
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.li__items {
  width: 100%;
  display: flex;
  margin-top: 40px;
}

.title__text__more {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  max-width: 250px;
  padding: 0 15px;
}

.item__title {
  font-size: medium;
}

.item__text {
  font-size: small;
  color: gray;
}

.item__text span {
  border-bottom: 1px solid darkgray;
}

.item__icons {
  text-align: left;
  color: darkgray;
  border-top: 1px solid darkgray;
}

.write__user {
  font-size: smaller;
}

.text__line {
  margin: 10px;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

.item__text.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.textBtn.clicked {
  transform: rotate(180deg);
}

.textBtn {
  transition: transform 300ms ease-in-out;
}

.menu__icons img {
  width: 100px;
  height: 100px;
}

.menu__icons li {
  padding: 40px 20px;
  transition: transform 200ms ease-in-out;
  color: white;
}

.menu__icons li:hover {
  transform: scale(1.3);
}

.menu__icons {
  margin-top: 0;
  display: flex;
  justify-content: center;
  background-color: darkkhaki;
  padding-left: 0;
  margin: 0 30px;
}

.dog_box_img {
  position: relative;
  margin: 0px 30px;
  text-align: center;
  bottom: -10px;
}

.dog__ad {
  width: 400px;
  height: 200px;
  text-align: center;
}

.footer__text {
  display: block;
  margin-bottom: 30px;
  margin: 0 30px;
  background-color: rgb(241, 229, 212);
  padding: 30px;
  color: rgb(140, 109, 79);
}
.footer {
  background-color: rgb(140, 109, 79);
  color: rgb(241, 229, 212);
  display: flex;
  flex-direction: column;
}

.footer__3rd {
  display: flex;
  flex-direction: row;
  color: rgb(241, 229, 212);
  background-color: rgb(140, 109, 79);
  margin: 0 30px;
  padding: 30px;
  font-size: 0.8rem;
}

.footer__home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  font-size: larger;
  width: 150px;
}

.footer__home__home {
  padding: 0 10px;
}

.footer__home li {
  margin: 10px 0;
}

.footer__home li a {
  color: rgb(241, 229, 212);
  background-color: rgb(140, 109, 79);
  padding: 8px 8px;
}

.footer__home li a:hover {
  color: rgb(140, 109, 79);
  background-color: rgb(241, 229, 212);
  cursor: pointer;
  border-radius: 5px;
  transform: scale(1.2);
}

.name,
.Bank__Info,
.Copyright {
  display: block;
  margin: 40px 0;
  width: 300px;
}

.title__name {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 910px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 8px;
    margin-bottom: 0;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__toogleBtn {
    display: block;
  }
  .navbar__menu.active {
    display: flex;
  }
  .menu__icons {
    display: none;
  }
  .footer__home {
    display: none;
  }
  .item__icons {
    display: flex;
    flex-direction: column;
  }
  .img__text__menu__text {
    padding-left: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .main__items {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  .li__items {
    display: flex;
    flex-direction: row;
  }
  .title__text__more {
    width: 100%;
    height: 100%;
    min-height: 230px;
    max-width: 100%;
  }
  .item__text.clamp {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
  .title__name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title__img {
    display: none;
  }
  .title__img__mobile {
    display: block;
    width: 100%;
    height: 50%;
    padding: 0 30px;
  }
  .title__img__mobile__edu {
    display: block;
    width: 100%;
    height: 50%;
    padding: 0 30px;
  }
  .name,
  .Bank__Info,
  .Copyright {
    display: block;
    margin: 10px 0;
    width: 300px;
  }
}
